<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appium.Net.Sandbox.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Appium.Net.Sandbox.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Appium.Net.Sandbox.Properties.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Appium.Net.Sandbox.Properties.App>
            <setting name="Url" serializeAs="String">
                <value>http://127.0.0.1:4723/wd/hub</value>
            </setting>
            <setting name="TempHashs" serializeAs="String">
                <value>#love #TagsForLikes #TagsForLikesApp #tweegram #photooftheday #amazing #smile #follow4follow #like4like #look #instalike #food #instadaily #instafollow #followme #instagood #bestoftheday #instacool #instago #follow #webstagram #colorful #style #swag</value>
            </setting>
            <setting name="Hashs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#saintpetersburg #spb #bridge #saintpeterandpaulcathedral #sunset</string>
                        <string>#plane #fly #spb #saintpetersburg #russia #clouds</string>
                        <string>#london #greatbritain #redbus #bus #unitedkingdom #uk</string>
                        <string>#даже #не #знаю #что #написать. #спб #питер #санктпетербург</string>
                        <string>#петропавловскаякрепость #санктпетербург #спб #питер #закат</string>
                        <string>#санктпетербург #тучи #закат #небо #спб #питер #saintpetersburg #spb</string>
                        <string>#тучи #закат #небо #спб #питер #saintpetersburg #spb</string>
                        <string>#футбол #мяч #смешнойхэштег1 #смешнойхэштег2 #спб #питер #санктпетербург #saintpetersburg #spb</string>
                        <string>#юсуповский #сад #спб #питер #санктпетербург #saintpetersburg #spb</string>
                        <string>#ботанический #сад #спб #питер #санктпетербург #бонсай #этобонсайничегонезнаю #saintpetersburg #spb</string>
                        <string>#андерсенград #сосновыйбор</string>
                        <string>#плотина #петяярви #спб #питер #санктпетербург #saintpetersburg #spb</string>
                        <string>#закат #питер #санктпетербург #спб #saintpetersburg #spb</string>
                        <string>#гатчинский #гейзер #просто #супер #спб #санктпетербург #питер #saintpetersburg #spb</string>
                        <string>#закат #питер #санктпетербург #спб #saintpetersburg #spb</string>
                        <string>#закат #питер #санктпетербург #спб #saintpetersburg #spb</string>
                        <string>#спб #питер #лофтпроектэтажи #фестивальенотов #енотики #щенята #енотовидной #собачки #санктпетербург</string>
                        <string>#спб #санктпетербург #питер #бременскиемузыканты</string>
                        <string>#закат #питер #санктпетербург #спб</string>
                        <string>#спб #питер #облака #троицкиймост</string>
                        <string>#зубробизон #спб #питер #санктпетербург</string>
                        <string>#спб #питер #санктпетербург #кот #котэ #котяра</string>
                        <string>#водопад #около #спб</string>
                        <string>#спб #питер #санктпетербург</string>
                        <string>#питер #санктпетербург #спб #петропавловскаякрепость #закат</string>
                        <string>#музейэмоций #санктпетербург #питер #СПб</string>
                        <string>#солнечные #часы #кронштадт</string>
                        <string>#мраморныйдворец #санктпетербург #питер #СПб</string>
                        <string>#великийновгород #кораблик #ship #river #clouds</string>
                        <string>#великийновгород #кремль #трава #крепость #castle</string>
                        <string>#спб #питер #санктпетербург</string>
                        <string>#выборг #inception #замок #панорамагорода</string>
                        <string>#выборг</string>
                        <string>#панда #крутойпробег #санктпетербург #питер #СПб</string>
                        <string>#санктпетербург #питер #СПб #закат</string>
                        <string>#иллюзиум #санктпетербург #питер #СПб</string>
                        <string>#хомяк #санктпетербург #питер #СПб</string>
                        <string>#санктпетербург #питер #СПб</string>
                        <string>#кот #котяра #санктпетербург #питер #СПб</string>
                        <string>#санктпетербург #питер #СПб #зимний #закат</string>
                        <string>#новыйгод #новыйгод2016 #санктпетербург #питер #СПб</string>
                        <string>#новыйгод #новыйгод2016 #санктпетербург #питер #СПб</string>
                        <string>#звездныевойны #starwars #хансоло #принцессалея #санктпетербург #питер #СПб</string>
                        <string>#зенитчемпион, #зенитваленсия, #дзюбагол #зенит #санктпетербург #питер #СПб</string>
                        <string>#ремонтделотонкое #обожаюхэштеги #давсёхватитуже #санктпетербург #питер #СПб</string>
                        <string>#санктпетербург #питер #СПб</string>
                        <string>#спб #утро #туман #питер #санктпетербург</string>
                        <string>#erarta #эрарта #санктпетербург #питер #СПб</string>
                        <string>#erarta #эрарта #санктпетербург #питер #СПб</string>
                        <string>#haloween, #хеллоуин, #spb #санктпетербург #питер #СПб</string>
                        <string>#spb #санктпетербург #питер #СПб #закат</string>
                        <string>Футбольный вечер удался! #ЗенитЛион , #ЗенитЧемпион #санктпетербург #питер #СПб</string>
                        <string>#океанариум #санктпетербург #питер #СПб</string>
                        <string>#красивый #закат #санктпетербург #питер #СПб</string>
                        <string>#красивый #рассвет #санктпетербург #питер #СПб</string>
                        <string>#мазапарк #лук #mazapark #тридебилаэтосила #санктпетербург #питер #СПб</string>
                        <string>#сладкаяпарочка #санктпетербург #питер #СПб</string>
                        <string>#розовыйслоник #рио #санктпетербург #питер #СПб</string>
                        <string>#зенитчемпион #валенсиязенит #суперхалк #санктпетербург #питер #СПб</string>
                        <string>#санктпетербург #питер #СПб</string>
                        <string>#surfcoffee #санктпетербург #питер #спб</string>
                        <string>#санктпетербург #питер #СПб</string>
                        <string>#крутой #пробег #санктпетербург #питер #СПб</string>
                        <string>#обед #санктпетербург #питер #СПб</string>
                        <string>#минск #красивый #город</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Total" serializeAs="String">
                <value>65</value>
            </setting>
        </Appium.Net.Sandbox.Properties.App>
        <Appium.Net.Sandbox.App>
            <setting name="Url" serializeAs="String">
                <value>http://192.168.1.100:4723/wd/hub</value>
            </setting>
        </Appium.Net.Sandbox.App>
    </applicationSettings>
    <userSettings>
        <Appium.Net.Sandbox.Properties.App>
            <setting name="IdsToUpdate" serializeAs="String">
                <value>65,64,63,62,61,60,59,58,57,56,54,53,52,51,50,49,48,47,46,45,44,43,41,40,39,38,37,36,35,34,33,32,31,29,28,27,26,25,24,20,19,18,17,15,14,13,12,11,9,8,6,5,4,3,1</value>
            </setting>
        </Appium.Net.Sandbox.Properties.App>
    </userSettings>
</configuration>